<%= @candidate_one.inspect %>
<p><%= @candidate_one.name %></p>
<br><br>
<%= @candidate_two.inspect %>
<p><%= @candidate_two.name %></p>

<br><br>
<%= @issue.inspect %>
<p><%= @issue.topic %></p>
<br><br>
<%= @candidate_one_issues.inspect %>
<p><%= @candidate_one_issues.position %></p>

<br><br>
<%= @candidate_two_issues.inspect %>
