<p><%= @issue.topic %></p>
<br><br>

<li><%= @candidate_one.name %></li>
<br><br>

<% @candidate_one_issues.each do |candidate| %>
  <% candidate.position.each do |position| %>
    <ul> <%= position %> </ul>
  <%end%>
<% end %>
<br><br>

<li><%= @candidate_two.name %></li>
<br><br>

<% @candidate_two_issues.each do |candidate| %>
   <%candidate.position.each do |position| %>
     <ul> <%= position %> </ul>
   <% end %>
<% end %>
